<section class="cta">
	<div class="wrap clearfix">
		<a href="login.html" class="button big white right">Purchase theme</a>
		<h2>Already convinced? This is a call to action section lorem ipsum dolor sit amet.</h2>
	</div>
</section>