<div class="widget wow fadeInRight">
	<h3>Категории рецептов</h3>
	<ul class="boxed">
		<li class="light">
		<%= link_to category_path(4), title: "Закуски" do %>
		<i class="ico i-appetizers"></i> <span>Закуски</span></a>
		<% end %>
		<li class="medium"><a href="recipes.html" title="Коктейли"><i class="ico i-cocktails"></i> <span>Напитки</span></a></li>
		<li class="dark"><a href="recipes.html" title="Торты"><i class="ico i-deserts"></i> <span>Торты</span></a></li>
		
		<li class="medium"><a href="recipes.html" title="Запеканки"><i class="ico i-eggs"></i> <span>Запеканки</span></a></li>
		<li class="dark"><a href="recipes.html" title="Выпечка"><i class="ico i-equipment"></i> <span>Выпечка</span></a></li>
		<li class="light"><a href="recipes.html" title="Десерты"><i class="ico i-events"></i> <span>Десерты</span></a></li>
	
		<li class="dark"><a href="recipes.html" title="Блюда из рыбы"><i class="ico i-fish"></i> <span>Блюда из рыбы</span></a></li>
		<li class="light"><a href="recipes.html" title="Спортивное питание"><i class="ico i-fitness"></i> <span>Спортивное питание</span></a></li>
		<li class="medium"><a href="recipes.html" title="Healthy"><i class="ico i-healthy"></i> <span>Healthy</span></a></li>
		
		<li class="light"><a href="recipes.html" title="Супы"><i class="ico i-asian"></i> <span>Супы</span></a></li>
		<li class="medium"><a href="recipes.html" title="Соус"><i class="ico i-mexican"></i> <span>Соус</span></a></li>
		<li class="dark"><a href="recipes.html" title="Пицца"><i class="ico i-pizza"></i> <span>Пицца</span></a></li>
		
		<li class="medium"><a href="recipes.html" title="Блюда для детей"><i class="ico i-kids"></i> <span>Блюда для детей</span></a></li>
		<li class="dark"><a href="recipes.html" title="Блюда из мяса"><i class="ico i-meat"></i> <span>Блюда из мяса</span></a></li>
		<li class="light"><a href="recipes.html" title="Блюда из овощей"><i class="ico i-snacks"></i> <span>Блюда из овощей</span></a></li>
		
		<li class="dark"><a href="recipes.html" title="Салаты"><i class="ico i-salads"></i> <span>Салаты</span></a></li>
		<li class="light"><a href="recipes.html" title="Консервация"><i class="ico i-storage"></i> <span>Консервация</span></a></li>
		<li class="medium"><a href="recipes.html" title="Вегетарианские блюда"><i class="ico i-vegetarian"></i> <span>Вегетарианские блюда</span></a></li>
	</ul>
</div>