<div class="widget wow fadeInRight" data-wow-delay=".2s">
	<h3>Наиболее популярные</h3>
	<ul class="articles_latest">
		<% @most_liked.each do |recipe| %>
			<li>
				<%= link_to recipe_path(recipe) do %>
					<%= image_tag recipe.recipe_image.url(:small) %>
					<h6><%= recipe.title %></h6>
				<% end %>
			</li>
		<% end %>
	</ul>
</div>