<aside class="sidebar one-fourth">
	<%= render 'pages/categories' %>
		
	<%= render 'pages/most_liked' %>
		
	<%= render 'pages/widget_members' %>
		
	<div class="widget wow fadeInRight" data-wow-delay=".6s">
		<h3>Advertisment</h3>
		<a href="#"><img src="images/advertisment.jpg" alt="" /></a>
	</div>
</aside>